[user]
	email = zhangzhengyuan0604@gmail.com
	name = zhangzhengyuan
[core]
	autocrlf = false
	editor = vim
[credential]
	helper = store
[log]
	decorate = true
[color]
	ui = true
[push]
	default = simple
